################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyVetAppointment.API/.vs

/MyVetAppointment.API/MyVetAppointment.API/obj
