@page "/clinic/doctors"
@inherits IndexPageBase
@attribute [Authorize(Roles = UserRole.Clinic)]

<PageTitle>Doctors</PageTitle>
<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
<div class="d-flex flex-row">
	<div class="d-flex flex-column">
		<h1>Doctors</h1>
	</div>
	<button class="btn btn-primary btn-lg btn-icon ms-auto" style="height: 3rem" @onclick="OnAddButtonClick">
		<i class="oi oi-plus" aria-hidden="true"></i> Add Doctor
	</button>
</div>


@if (Doctors == null)
{
	<Loader></Loader>
}
else
{
	<div class="box-2">
		<table class="table">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Doctor doctor in Doctors) 
				{
					<tr>
						<td>@doctor.FirstName</td>
						<td>@doctor.LastName</td>
						<td>@doctor.Email</td>
						<td>
							<div class="d-flex flex-row align-items-center">
								<button class="btn btn-primary btn-circle px-2 me-2" title="Edit doctor" @onclick="(() => OnEditButtonClick(doctor))">
									<i class="bi bi-pencil"></i>
								</button>
								<button class="btn btn-primary btn-circle px-2" tile="Delete doctor" @onclick="(() => ShowDeleteConfirmation(doctor))">
									<i class="bi bi-trash"></i>
								</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	@if (ShowDeleteConfirmationPop)
	{
		<div class="overlay">
			<div class="box">
				<h3 class="mt-4">Are you sure you want do delete this?</h3>
				<div class="d-flex flex-row-reverse mt-3" id="center-buttons">
					<button class="btn btn-primary btn-lg btn-icon" id="position-delete" @onclick="() => OnDeleteAsync()">Delete</button>
					<button class="btn btn-secondary btn-lg btn-icon" id="position-cancel" @onclick="() => DeleteConfirmation(false)">Cancel</button>
				</div>
			</div>
		</div>
	}


	@if (ShowDoctorForm)
	{
		<div class="overlay">
			<div class="box">
				<h3 class="mt-4">Add Doctor for Clinic:</h3>

				<EditForm Model="Doctor" OnValidSubmit="OnValidSubmitAsync">
					<DataAnnotationsValidator />
					<ValidationSummary />
					<div class="row">
						<div class="form-group col-6 mt-3">
							<label>First Name</label>
							<InputText class="form-control form-control-lg w-100" @bind-Value="Doctor.FirstName" />
						</div>
						<div class="form-group col-6 mt-3">
							<label>Last Name</label>
							<InputText class="form-control form-control-lg w-100" @bind-Value="Doctor.LastName" />
						</div>
						<div class="form-group col-6 mt-3">
							<label>Email</label>
							<InputText class="form-control form-control-lg w-100" @bind-Value="Doctor.Email" />
						</div>
					</div>

					<div class="d-flex flex-row-reverse mt-3">
						<button class="btn btn-primary btn-lg btn-icon" type="submit">
							<i class="oi oi-plus" aria-hidden="true"></i> Save
						</button>
						<button class="btn btn-secondary btn-lg btn-icon me-2" @onclick="OnCancelButtonClick">
							<i class="oi oi-x" aria-hidden="true"></i> Cancel
						</button>
					</div>
				</EditForm>
			</div>
		</div>
	}
}