@page "/login"
@inherits IndexPageBase
<div class="bg2">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="main">
        <div class="login">




            @if (HasError)
            {
                <span id="error-message">
                    <p id="text-error">Invalid username or password!</p>
                </span>
            }


            <EditForm Model="User" OnValidSubmit="HandleLogin">
                <div class="login-fields">

                    <div class="row">
                        <div class="form-group col-6 mt-3">
                            <div class="nav-item px-2">
                                <label class="text">Login</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mt-3">
                            <label>Username</label>
                            <InputText class="form-control form-control-lg w-100" @bind-Value="User.Username" required/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6 mt-3">
                            <label>Password</label>
                            <InputText class="form-control form-control-lg w-100" type="password" @bind-Value="User.Password" required/>
                        </div>
                    </div>
                </div>

                <button class="button" type="submit">
                    <div class="nav-item px-2">
                        <i class="oi oi-account-login" aria-hidden="true"></i>
                    </div>
                </button>
            </EditForm>
        </div>
    </div>

</div>