@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>

    <main>
        <AuthorizeView>
            <div class="top-row px-4">
                <button @onclick="Logout" class="oi oi-account-logout" style="background-color: #f7f7f7"></button>
            </div>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    async Task Logout()
    {
        await LocalStorageService.RemoveItemAsync("token");
        NavigationManager.NavigateTo("login", true);
    }
}
