@using VetExpert.Domain

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""> <img src="grup.png"></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView Roles="@UserRole.Admin">
	<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
		<nav class="flex-column mt-4">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="admin/clinics" Match="NavLinkMatch.All">
					<i class="oi oi-calendar" aria-hidden="true"></i> Clinics
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="admin/users">
					<i class="oi oi-people" aria-hidden="true"></i> Clients
				</NavLink>
			</div>
		</nav>
	</div>
</AuthorizeView>

<AuthorizeView Roles="@UserRole.User">
	<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
		<nav class="flex-column mt-4">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="client/pets" Match="NavLinkMatch.All">
					<i class="fas fa-dog me-2" aria-hidden="true"></i> Pets
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="client/clinics">
					<i class="bi bi-heart-pulse me-2" aria-hidden="true"></i> Clinics
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="client/appointments">
					<i class="bi bi-calendar-check me-2"></i> Appointments
				</NavLink>
			</div>
		</nav>
	</div>
</AuthorizeView>

<AuthorizeView Roles="@UserRole.Clinic">
	<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
		<nav class="flex-column mt-4">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="clinic/appointments" Match="NavLinkMatch.All">
					<i class="bi bi-calendar-check me-2"></i> Appointments
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="clinic/doctors">
					<i class="fas fa-user-md me-2" aria-hidden="true"></i> Doctors
				</NavLink>
			</div>
		</nav>
	</div>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
